.modal-actions-container {
    display: flex;
    justify-content: flex-end;
}

.cancel-btn,
.delete-btn {
    color: #fff;
    text-align: center;
}

.cancel-btn {
    background-color: #26a1eb;
    border: 1px solid #26a1eb;
    flex-grow: 1;
}

.cancel-btn:hover {
    background-color: #2084c1;
    border-color: #2084c1;
}

.delete-btn {
    background-color: #eb0300;
    border: 1px solid #eb0300;
    color: #fff;
    margin: 0 30px 0 0;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), -1px -1px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    flex-grow: 1.085;
}

.delete-btn:hover {
    background-color: #d60300;
    border-color: #d60300;
}