.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: crimson;
    padding: 20px 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.nav-item {
    font-size: 22px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    color: #fff;
}

.nav-container div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}